<div class="row">
	<aside class="col-md-3">
		<form>
			<label for="search">Search</label>
			<div class="form-group has-clear">
				<input type="search" id="search" class="form-control" value={{search}} oninput={{action (mut search) value="target.value"}}>
				<span class="clear" {{action "clearSearch"}}></span>
			</div>
		</form>
		<ul class="list-group">
		{{#each search_results as |champion|}}
			<li class="list-group-item {{if (eq champion currentChampion) "active"}}" {{action "clickChamp" champion}}>
				<img class="champ-li-icon" src="http://ddragon.leagueoflegends.com/cdn/8.13.1/img/champion/{{champion.key}}.png">
				{{highlight-text champion.name search}}
			</li>
		{{/each}}
		</ul>
	</aside>
	<main class="col-md-9">
		{{match-up champion=currentChampion}}
	</main>
</div>